<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionários</title>
    <link href="./public/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center align-self-center">
            <h2>Cadastro de Funcionários</h2>
            <form action="/cadastro" method="POST">
                <div class="form-group">
                  <label for="">Nome</label>
                  <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Digite seu nome" name="name" required>
                </div>
                <div class="form-group">
                  <label for="">Idade</label>
                  <input type="number" class="form-control" id="" placeholder="Idade" name="age" required>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" id="" placeholder="Email" name="email" required>
                  </div>
                  <div class="form-group">
                    <label for="">Cargo</label>
                    <input type="text" class="form-control" id="" placeholder="Cargo" name="occupation" required>
                  </div>
                <button class="btn btn-success">Cadastrar</button>
            </form>

            <div class="list-cards d-flex flex-row">
                {% for user in users %}
                <div class="card text-center">
                    <div class="card-header">
                      Cliente
                    </div>
                    <form action="/delete/api/" method="post">
                        <input type="hidden" name="reqDelete" value="{{user.id}}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{user.name}}</h5>
                            <p class="card-text">Idade: {{user.age}}</p>
                            <p class="card-text email">Email: {{user.email}}</p>
                            <p class="card-text email">Telefone: {{user.phone}}</p>
                            <a href="/edit">Editar</a>
                            <button class="btn btn-danger">Delete</button>
                          </div>
                          <div class="card-footer text-muted">
                              {{user.occupation}}
                          </div>
                    </form>
                  </div>
                {%endfor%}
            </div>
        </div>
    </div>

    <style>

        body{
            background-color: rgb(219, 219, 219);
            padding: 10px;
        }

        .list-cards{
            margin-top: 40px;
        }

        .list-cards{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width:800px;
        }

        .card{
            max-width:250px;
            min-width:250px;
            max-height: 350px;
            min-height: 350px;
        }

      </style>

</body>
</html>